.containerDetail{
    background-image: url('https://res.cloudinary.com/dsafn6pyx/image/upload/v1667828260/wallpaperflare.com_wallpaper_r1hi83.jpg');
    overflow-x: hidden;
    width: 100%;
}
.infoDetail{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    padding: 0px 90px 20px 0px;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 20%;
}
.imgDetail{
    width: 300px;
    height: 300px;
}
.name{
    font-size: 50px;
    font-weight: bold;
    color: black;
    font-family: 'anton',sans-serif;
}
h5 {
    font-size: 20px;
    color: black;
}
.description{
    background-color: #D8D8D8;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 0px 70px 0px 70px;
    border-radius: 25px;
}
.AboutCoffe , .buttonAdd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}
.stars{
    font-size: 25px;
    border: 2px solid black;
    width: 18%;
    border-radius: 10px;
    padding: 5px 5px 5px 15px;
}
.coffe{
    width: 70%;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: justify;
}
.calories{
    font-size: 20px;
    font-weight: bold;
}
.buttonAdd{
   width: 50%;
}
.btnContador{
    font-size: 40px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.btnContador:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}
.counter{
    font-size:30px;
    margin-left:12px;
    font-family: 'anton',sans-serif;
}
.btnAddCart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    padding: 0px 35px 0px 35px; 
    font-size: 18px;
    border: none;
    text-transform: uppercase;
    font-family: 'anton',sans-serif;
    position: relative;
    right: 12px;
    cursor: pointer;
}

